# Git
.git
.gitignore

# Entornos virtuales de Python
venv/
env/
ENV/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Archivos temporales
*.tmp
*.bak
*.log
temp/

# Directorios de descargas (se crearán en el contenedor)
downloads/*

# Archivos de Docker
.dockerignore
Dockerfile

# Archivos de configuración de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de Render
render.yaml
